<div class="postform">
  <%= form_with(model: [@place,@picture], local: true) do |form| %>
    <h3>新規投稿</h3>
    
    <%= form.fields_for :pictures do |picture| %>
      <%= picture.label :src, class: 'Form__inputImage' do %>
        <%= icon('far', 'image', class: 'Form__icon') %>
        <%= form.file_field :src, class: 'Hidden' %>
      <% end %>
    <% end %>


    <%= form.text_field :name, placeholder:"タグの名前" %>
    <%= form.text_field :name1, placeholder:"タグの名前" %>
    <%= form.text_field :name2, placeholder:"タグの名前" %>

    <%= form.submit "SEND" %>
  <% end %>
  
</div>

<%= render "footer" %>




